<div class="modal-header navy-bg">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.cancel()">&times;</button>
    <h2 class="modal-title">Login</h2>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger" ng-show="vm.authenticationError">
                <strong>Falha no Login!</strong> Confira suas credênciais e tente novamente.
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form class="form" role="form" ng-submit="vm.login($event)">
                <div class="form-group">
                    <label for="username">Usuário</label>
                    <input type="text" class="form-control" id="username" placeholder="Your username"
                           ng-model="vm.username">
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" placeholder="Your password"
                           ng-model="vm.password">
                </div>
                <div class="form-group">
                    <label for="rememberMe">
                        <input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked>
                        <span>Lembre-me</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-info btn-block">
                    <i class="fa fa-key"></i>
                    Entrar
                </button>
            </form>
            <p></p>
            <div class="col-md-12 text-center">
                <a class="text-info" href="" ng-click="vm.requestResetPassword()">Esqueci minha senha</a>
            </div>
            <div class="col-md-12 text-center">
                <a class="text-info" href="" ng-click="vm.register()">
                    Cadastrar-se
                </a>
            </div>
        </div>
    </div>
</div>
